.App {
  padding:1em;
}


.numbers{
  margin:0;
  text-align:right;
  width: 90%;
}

.operation{
  font-size: 2rem;
  text-align: right;
  color: grey;
}

.optionButton{
  margin: 25px 0;
} 
.optionButton button{
  width: 100%;  
  font-size: 2em !important;
}
.control-row{
  display:flex;
  justify-content: space-between;
}
.newHeart{
  height: 60vh;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-flow: column;
    width: 50%;
    margin: auto;
    font-size: 1.6rem;
}
.newHeart em{
  line-height: 33px;
}